<ion-content>

  <app-menu-lateral
    [items]="menuItems"
    (sideChange)="changeSide($event)">
  </app-menu-lateral>

  <app-header
    [items]="menuItems"
    [currentSide]="currentSide"
    (sideChange)="changeSide($event)">
  </app-header>
<div id="main-content">
    <main class="portfolio-layout">

      <section
        class="scene"
        (touchstart)="onTouchStart($event)"
        (touchend)="onTouchEnd($event)"
      >

        <div class="cube" [class]="'cube show-' + currentSide">

        <!-- FRONT -->

        <article class="cube-face cube-face-front" >

          <div class="intro-wrapper">

            <div class="intro-image">
              <img
                src="assets/Foto_Portafolio.jpg"
                alt="Profile">
            </div>

            <div class="intro-content">

              <h1 class="intro-heading">
                Soy Lucas Gabriel Sigüenza, un <span>Desarrollador de software</span>.
              </h1>

              <p class="intro-text">
                Soy técnico superior en programación certificado por la Universidad Tecnológica Nacional(UTN)
              </p>

              <p class="intro-text">
                Me dedico a desarrollar sistemas escalables y modulares, empleando herramientas basadas en nodejs como Angular o Ionic, y
                aplico BaaS a través de Supabase, Firebase o cualquier base de datos online.
              </p>

            </div>

          </div>

        </article>

        <!-- RIGHT -->

        <article class="cube-face cube-face-back interactive-face" (click)="abrirModal(currentSide)" >
          <h2 class="face-title">Mi tra<span>bajo</span></h2>
          <p class="contact-item"><span>¡Clickléame!</span></p>
        </article>

        <!-- BACK -->

        <article class="cube-face cube-face-right interactive-face" (click)="abrirModal(currentSide)" >
          <h2 class="face-title">Educa<span>ción</span></h2>
            <p class="contact-item"><span>¡Clickléame!</span></p>

        </article>

        <!-- LEFT -->

        <article class="cube-face cube-face-left interactive-face" (click)="abrirModal(currentSide)" >
          <h2 class="face-title">Tecnolo<span>gías.</span></h2>
          <p class="contact-item"><span>¡Clickléame!</span></p>
        </article>

        <!-- TOP -->

        <article class="cube-face cube-face-top interactive-face" (click)="abrirModal(currentSide)" >
          <h2 class="face-title"><span>Pro</span>yectos</h2>

          <p class="contact-item"><span>¡Clickléame!</span></p>
        </article>

        <!-- BOTTOM -->

        <article class="cube-face cube-face-bottom">

          <div class="contact-wrapper">
            
            <h2 class="face-title">
              ¡Contác<span>tame!</span>
            </h2>

            <ion-text class="contact-item ion-text-center">
              <span>Correo:</span>

              <a
                href="mailto:lgsiguenza01@gmail.com"
                target="_blank"
                rel="noopener noreferrer">

                lgsiguenza01@gmail.com

              </a>
            </ion-text>

            <ion-text class="contact-item ion-text-center">
              <span>Teléfono:</span>

              <a href="tel:+5491125158761">
                +54 9 11 2515-8761
              </a>
            </ion-text>

            <ion-text class="contact-item ion-text-center">
              <span>GitHub:</span>

              <a
                href="https://github.com/lgsiguenza"
                target="_blank"
                rel="noopener noreferrer">

                @lgsiguenza

              </a>
            </ion-text>

            <ion-text class="contact-item ion-text-center">
              <span>LinkedIn:</span>

              <a
                href="https://www.linkedin.com/in/lucas-sig%C3%BCenza-648856250"
                target="_blank"
                rel="noopener noreferrer">

                @Lucas Sigüenza

              </a>
            </ion-text>
            <ion-text class="contact-item ion-text-center">
              <span>Currículum:</span>

              <a
                href="https://docs.google.com/document/d/1jS1Wz8FEE3u1jKvWbskLyklZxG-4AUw2L0nqmf8QoPE/edit?usp=sharing"
                target="_blank"
                rel="noopener noreferrer"
              >
                Ver mi Currículum
              </a>
            </ion-text>

          </div>

        </article>

      </div>

    </section>
    <div class="cube-controls">
      <ion-button shape="round" color="cube-btn" class="cube-btn up" (click)="moveCube('up')">
        <ion-icon slot="icon-only" name="chevron-up-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="cube-btn" class="cube-btn down" (click)="moveCube('down')">
        <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="cube-btn" class="cube-btn left" (click)="moveCube('left')">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>

      <ion-button shape="round" color="cube-btn" class="cube-btn right" (click)="moveCube('right')">
        <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
      </ion-button>

</div>
  </main>
  </div>
</ion-content>