<ion-content [fullscreen]="true">

  <app-header
    [items]="menuItems"
    [currentSide]="currentSide"
    (sideChange)="changeSide($event)">
  </app-header>
  <main class="portfolio-layout">


    <section class="scene">

      <div class="cube" [class]="'cube show-' + currentSide">

        <!-- FRONT -->

        <article class="cube-face cube-face-front">

          <div class="intro-wrapper">

            <div class="intro-image">
              <img
                src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg"
                alt="Profile">
            </div>

            <div class="intro-content">

              <h1 class="intro-heading">
                Hi, I'm Lilly, a <span>Frontend</span> Developer
              </h1>

              <p class="intro-text">
                An economics major turned business journalist who found a passion for coding and web development.
              </p>

              <p class="intro-text">
                I started out on the software engineering path two years ago with Python but one look at JavaScript was enough to convince me that web development is going to be my zing.
              </p>

            </div>

          </div>

        </article>

        <!-- RIGHT -->

        <article class="cube-face cube-face-right">
          <h2 class="face-title">Wo<span>rk</span></h2>
        </article>

        <!-- BACK -->

        <article class="cube-face cube-face-back">
          <h2 class="face-title">Educa<span>tion</span></h2>
        </article>

        <!-- LEFT -->

        <article class="cube-face cube-face-left">
          <h2 class="face-title">Certi<span>fi</span>cates</h2>
        </article>

        <!-- TOP -->

        <article class="cube-face cube-face-top">
          <h2 class="face-title"><span>Pro</span>jects</h2>
        </article>

        <!-- BOTTOM -->

        <article class="cube-face cube-face-bottom">
          <h2 class="face-title">Con<span>tacts</span></h2>
        </article>

      </div>

    </section>

  </main>

</ion-content>