<ion-content>

  <app-menu-lateral
    [items]="menuItems"
    (sideChange)="changeSide($event)">
  </app-menu-lateral>

  <app-header
    [items]="menuItems"
    [currentSide]="currentSide"
    (sideChange)="changeSide($event)">
  </app-header>
<div id="main-content">
    <main class="portfolio-layout">

      <section class="scene">

        <div class="cube" [class]="'cube show-' + currentSide">

        <!-- FRONT -->

        <article class="cube-face cube-face-front">

          <div class="intro-wrapper">

            <div class="intro-image">
              <img
                src="assets/Foto_Portafolio.jpg"
                alt="Profile">
            </div>

            <div class="intro-content">

              <h1 class="intro-heading">
                Hola, Soy Lucas Sigüenza, un <span>Desarrollador fullstack</span>.
              </h1>

              <p class="intro-text">
                Soy técnico superior en programación certificado por la Universidad Tecnológica Nacional(UTN)
              </p>

              <p class="intro-text">
                Me dedico a desarrollar sistemas escalables y modulares, empleando herramientas basadas en nodejs como Angular o Ionic, y
                ejerzo baas a través de Supabase, Firebase o cualquier base de datos online.
              </p>

            </div>

          </div>

        </article>

        <!-- RIGHT -->

        <article class="cube-face cube-face-right">
          <h2 class="face-title">Wo<span>rk</span></h2>
        </article>

        <!-- BACK -->

        <article class="cube-face cube-face-back">
          <h2 class="face-title">Educa<span>tion</span></h2>
        </article>

        <!-- LEFT -->

        <article class="cube-face cube-face-left">
          <h2 class="face-title">Certi<span>fi</span>cates</h2>
        </article>

        <!-- TOP -->

        <article class="cube-face cube-face-top">
          <h2 class="face-title"><span>Pro</span>jects</h2>
        </article>

        <!-- BOTTOM -->

        <article class="cube-face cube-face-bottom">
          <h2 class="face-title">Con<span>tacts</span></h2>
        </article>

      </div>

    </section>

  </main>
  </div>
</ion-content>